.PageLayout {
  min-height: 100vh;
  position: relative;
  padding-bottom: 150px;
  section {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}
.LegalModal {
    background-color: $darkBackground;
    color: #FFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 20px;
    width: 80%;
    max-width: 245px;
    border: 0px;
    outline: none;
    @include tablet{
      width: initial;
    }
    svg{
      margin: 0 auto 10px;
      font-size: 42px;
    }
    div{
      text-align: left;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
    }
  }