@mixin GridLayout {
  .wrap {
    position: relative;
    #next {
      display: none;
      position: relative;
      height: 100%;
      right: 0;
      top: 0;
      width: 5%;
      min-width: 20px;
      max-width: 60px;
      position: absolute;
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      z-index: 99;
      background-color: hsla(0, 0, 0, 0.7);
      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    #prev {
      display: none;
      height: 100%;
      left: 0;
      top: 0;
      width: 5%;
      min-width: 20px;
      max-width: 60px;
      position: absolute;
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      vertical-align: middle;
      z-index: 99;
      background-color: hsla(0, 0, 0, 0.7);
      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.Browse {
  overflow-x: hidden;
  section {
    max-width: initial;
    padding: 0 0 20px;
  }
  .FeaturedGrid {
    @include GridLayout();
    .FeaturedVideoImgContainer {
      .FeaturedVideoImg {
        width: 100%;
        max-height: 70vh;
      }
    }
  }
  .Grid {
    @include GridLayout();
    .wrap {
      overflow-x: auto;
      overflow-y: hidden;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      height: auto;
      @include Desktop {
        scrollbar-width: thin;
      }
    }
    .VideoImgContainer {
      width: 50%;
      min-width: 50%;
      position: relative;

      margin: 10px;

      .Overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0;
        transition: opacity 0.5s;
        z-index: 98;
      }
      &:active {
        .Overlay {
          opacity: 0.7;
        }
        p {
          opacity: 1;
          z-index: 99;
        }
      }
      &:hover {
        .Overlay {
          opacity: 0.7;
        }
        p {
          opacity: 1;
          z-index: 99;
        }
      }
      p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        color: white;
        width: 50%;
        opacity: 0;
        transition: opacity 0.5s;
        cursor: default;
      }
      @include tablet {
        width: 24%;
        min-width: 24%;
      }

      .VideoImg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
