.Header {
  width: 100%;
  img {
    width: 150px;
  }
  :first-child {
    margin-right: auto;
  }
  .Menu {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
    .TabletMenu {
      display: none;
      @include tablet {
        display: inherit;
      }
    }
    @include tablet {
      .MobileOnly {
        display: none;
      }
    }
  }
  background-color: $darkBackground;
}
