.Home {
  text-align: center;
  button{
    margin-top: 20px;
  }
  .PlayerContainer {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: calc(56vw);
    max-height: 652.5px;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  #services{
    opacity: 0;
  }
}
