@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Login {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  overflow: hidden;
  padding: 20px;
  max-width: 300px;
  background-color: $darkBackground;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  animation: forwards 1s fadeIn;
  input,
  textarea {
    color: #fff;
  }
  label {
    display: flex;
    margin-left: 0px;
    margin-right: auto;
  }
  .MuiInputAdornment-positionEnd button{
    margin-bottom: initial;
    color: $bud;
  }
  label.MuiFormLabel-root {
    color: darkgray;
  }
  label.Mui-focused {
    color: $bud;
  }
  .MuiInput-root {
    margin-bottom: 10px;
  }
  .MuiSelect-select,
  .MuiSelect-icon {
    color: #fff;
  }
  button{
    margin-bottom: 20px;
  }
  b {
    cursor: pointer;
  }
}
