.Radio{
    display: flex;
    flex-flow: column;
    align-items: center;
    img{
        max-width: 300px;
        margin: 20px;
    };
    a{
        font-size: 1.5rem;
        color: #000;
        text-decoration: none;
    }
}